@import '~ant-design-vue/dist/antd.less';
@import '../../lib/haku-css/less/main.less';

@primary-1: #E2EFFE;
@primary-color: #337AB7;
@error-color: #f5222d;
@table-row-hover-bg: #DCDCDC;

@import 'basic.less';